---
- name: Deploy to CloudVision
  {%- raw %}
  hosts: "{{ target_hosts }}"
  {% endraw -%}
  gather_facts: false

  tasks:

    - name: Deploy to Static Configuration Studio
      ansible.builtin.import_role:
        name: arista.avd.cv_deploy
      vars:
        cv_run_change_control: true
        cv_server: "{{ cv_url }}-{% if atd_env == 'atds-280712' %}eos.topo.testdrive.arista.com{% elif atd_env == 'beta-atds' %}eos.topo.testdrive-dev.arista.com{% else %}PROJECT_NOT_FOUND{% endif %}"
